ADMIN_CORS=
AUTH_CORS=
COOKIE_SECRET=
DATABASE_URL=
DB_NAME=
JWT_SECRET=
MEDUSA_CLOUD_S3_HOSTNAME=
MEDUSA_CLOUD_S3_PATHNAME=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_DEFAULT_REGION=
NEXT_PUBLIC_MEDUSA_BACKEND_URL=
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_KEY=
REDIS_URL=
STORE_CORS=